# Environnements virtuels
venv/
env/

# Fichiers compilés Python
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

.mypy_cache/
.pytest_cache/

# Caches des éditeurs de code
.vscode/
.idea/
.DS_Store

# Fichiers de configuration personnels
.env
